<div>
<p><b>New comment</b></p>
<%= form_for Comment.new do |f| %>

  <%= f.hidden_field :commentable_id, value: commentable.id %>
  <%= f.hidden_field :commentable_type, value: commentable.class %>

  <%= f.text_area :content, placeholder: :content, class: "form-control" %>
  <br />
  <%= f.submit :class => "btn btn-primary" %>
<% end %>
</div>
<br />
