<div>
<p><b>New comment</b></p>
<%= form_for Comment.new do |f| %>

  <%= f.hidden_field :commentable_id, value: commentable.id %>
  <%= f.hidden_field :commentable_type, value: commentable.class %>

  <%= f.label :content %>
  <%= f.text_area :content %>
  <br />
  <%= f.submit %>
<% end %>
</div>
<br />
