<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @qualification.client.name %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @qualification.restaurant.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @qualification.note %>
</p>

<p>
  <strong>Amount spent:</strong>
  <%= @qualification.amount_spent %>
</p>

<%= comments @qualification %>

<%= new_comment @qualification %>


<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<%= link_to 'Back', qualifications_path %>
