<%= form_for(client) do |f| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-xs-6 col-md-6 padding-tweak-left">
    </div>
    <div class="col-xs-6 col-md-6 padding-tweak-left">
    </div>
  </div>

  <div class="form-group">
    <%= f.text_field :name, placeholder: :name, class: "form-control" %>
  </div>

  <div class="form-group row col-xs-4 col-md-4 padding-tweak-left">
    <%= f.number_field :years_old, placeholder: :years_old, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-success" %>
    <%= back_link %>
  </div>
<% end %>
