<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Years old:</strong>
  <%= @client.years_old %>
</p>

<%= link_to "New Qualification", {controller: "qualifications",
                                 action: "new",
                                 client: @client},class: 'btn btn-success' %>

<%= link_to 'Edit', edit_client_path(@client), class: 'btn btn-warning' %>
<%= back_link %>
