<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Specialty</th>
    <th colspan="3"></th>
  </tr>
  <% @restaurants.each do |r| %>
    <tr>
      <td><%= r.name      %></td>
      <td><%= r.address   %></td>
      <td><%= r.specialty %></td>
      <td>
        <%= link_to 'Show', {action: 'show', id: r}, class: 'btn btn-info' %>
      </td>
      <td>
        <%= link_to 'Edit', {action: 'edit', id: r}, class: 'btn btn-warning' %>
      </td>
    </tr>
  <% end %>
</table>

<br />
<%= link_to 'New Restaurant', new_restaurant_path, class: 'btn btn-success' %>
