<h1>
  <%= @restaurant.name %>
</h1>

<p>
  <b>Address:</b>
  <%= @restaurant.address %>
</p>

<p>
  <b>Specialty: </b>
  <%= @restaurant.specialty %>
</p>

<p>
  <b>Average rating: </b>
  <%= @restaurant.qualifications.average(:note) %>
</p>

<p>
  <b>How many qualifications: </b>
  <%= @restaurant.qualifications.count%>
</p>

<p>
  <b>Average price: </b>
  <%= @restaurant.qualifications.average(:amount_spent) %>
</p>

<%= comments @restaurant%>

<%= new_comment @restaurant %>


<%= link_to "New Qualification", {controller: "qualifications",
                                 action: "new",
                                 restaurant: @restaurant},class: 'btn btn-success' %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-warning' %>
<%= back_link %>
